<h1>Display your Pirate here</h1>
<%= "Name: #{@a.name}" %> 
<%= "Weight: #{@a.weight}" %> 
<%= "Height: #{@a.height}" %> 

<h2>Display your first ship here</h2>
<%= "Name: #{@b.name}" %> 
<%= "Weight: #{@b.type}" %> 
<%= "Height: #{@b.booty}" %> 


<h2>Display your second ship here</h2>
<%= "Name: #{@c.name}" %> 
<%= "Weight: #{@c.type}" %> 
<%= "Height: #{@c.booty}" %> 